.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 210px;
  padding: 40px;
  width: calc(100% - 500px);
  font-size: 16px;

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Ensure the text is treated vertically */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .linkButton {
    margin-top: 1rem;
    width: 100%;

    & a {
      text-decoration: none;
      color: unset;
      font-size: unset;
    }
  }
}

.links {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}